extends layout

block content
	h1 Real time notification
	
	ul.users
	.reactions
		.buttons
			button(class="win") WIN
			button(class="fail") FAIL
			button(class="lol") LOL
			button(class="omg") OMG
			button(class="wtf") WTF
			button(class="cute") CUTE

		ul#message