doctype html
html
	head
		title Reaction notification
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='./socket.io/socket.io.js')
		script(src='http://code.jquery.com/jquery.js')
		script(src='javascripts/index.js')
body
	block content